@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
// font-family: 'Open Sans', sans-serif;

// @font-face {
//   font-family: "Caveat Brush";
//   src: url("../fonts/CaveatBrush-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
//   src: url("../fonts/CaveatBrush-Regular.woff") format("woff"); /* Pretty Modern Browsers */
// }

// auto-resizing fonts
html {
  font-size: 15px;
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(15px + 5 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}



.grecaptcha-badge {
  visibility: hidden;
}

// fix
p {
  margin-bottom: 0;
  font-size: 18px;

  @media (max-width: 1450px) {
    font-size: 16px;
  }

  @media (max-width: $min-mob) {
    font-size: 14px;
  }
}

//general
html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #373531;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  transition: 0.3s;
  display: block;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1305px;

  &__small {
    max-width: 1100px;
  }

  &-smaller {
    max-width: 80%;
    margin: 0 auto;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

.text {
  font-size: 18px;

  @media (max-width: 1450px) {
    font-size: 16px;
  }

  @media (max-width: $min-mob) {
    font-size: 14px;
  }
}

.card {
  border: none;

  text-align: center;
}

.slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;

  width: 100%;

  height: auto;

  object-fit: cover;
}

// SECTION

// section {
//   padding: 5rem 0;

//   @media (max-width: 1450px) {
//     padding: 5rem 0;
//   }

//   @media (max-width: 1200px) {
//     padding: 5rem 0;
//   }

//   @media (max-width: 991px) {
//     padding: 5rem 0;
//   }

//   @media (max-width: 767px) {
//     padding: 4rem 0;
//   }
// }

.section {
  &__title {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3rem;
    text-transform: lowercase;

    @media (max-width: 1450px) {
      margin-bottom: 3.5rem;
      font-size: 60px;
    }

    @media (max-width: 1200px) {
      margin-bottom: 3rem;
      font-size: 40px;
    }

    @media (max-width: 567px) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;

    margin-bottom: 4rem;

    text-align: center;

    @media (max-width: 1450px) {
      margin-bottom: 3.5rem;
    }

    @media (max-width: 1200px) {
      margin-bottom: 3rem;
    }

    @media (max-width: 991rem) {
      margin-bottom: 2rem;
    }

    @media (max-width: 991rem) {
      margin-bottom: 2rem;
    }
  }
}