#primary {
  margin-top: 160px;

  @media (max-width: 991px) {
    margin-top: 62px;
  }
}

nav.woocommerce-breadcrumb {
  display: flex;
  font-size: 14px;
  color: #2d2d2d;

  a {
    color: #707070;
    transition: 0.2s linear;

    &:hover {
      opacity: 0.7;
    }
  }
}

#main {
  .woocommerce-products-header {
    &.category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 200px;
      margin-bottom: 70px;

      @media (max-width: 991px) {
        margin-top: 62px;
      }

      .woocommerce-product-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav.woocommerce-breadcrumb {
          padding: 30px 0;
        }

        @media (max-width: 991px) {
          flex-direction: column;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;

        @media (max-width: 991px) {
          margin-bottom: 20px;
        }

        img {
          max-height: 330px;
          height: auto;
        }
      }

      h1.page-title {
        font-size: 1.25rem;
        text-transform: uppercase;
        color: #2d2d2d;
        font-weight: 400;
        margin-bottom: 0;
        text-align: center;
        width: 100%;

        &::after {
          content: "";
          display: block;
          margin: 20px auto;
          width: 62px;
          height: 1px;
          background-color: #ebd677;
        }

        @media (max-width: 991px) {
          margin-top: 30px;
          font-size: 20px;
        }
      }

      @media (max-width: 1440px) {
        padding: 0 60px;
      }

      @media (max-width: 1199px) {
        padding: 0 40px;
      }

      @media (max-width: 991px) {
        padding: 0 15px;
      }

      h1 {
        font-size: 1.25rem;
        text-transform: uppercase;
        color: #2d2d2d;
        font-weight: 400;
        margin-bottom: 0;

        &::after {
          content: "";
          display: block;
          margin: 20px auto;
          width: 62px;
          height: 1px;
          background-color: #ebd677;
        }
      }

      .term-description {
        p {
          font-size: 14px;
          color: #474747;
        }
      }
    }
  }
}

section.filters-products-area {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 0 70px;

  @media (max-width: 1280px) {
    justify-content: center;
  }

  @media (max-width: 991px) {
    flex-direction: column-reverse;
  }

  .widget-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .berocket_single_filter_widget {
      .bapf_sfilter {
        margin-bottom: 0;

        .bapf_head {
          h3 {
            display: none;
          }
        }

        .bapf_body {
          width: 210px;
          margin-left: 10px;
          position: relative;

          &:after {
            content: url("/app/themes/mcpremium/assets/src/img/icons/icon-arrow-down.svg");
            display: block;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            z-index: -1;
          }

          @media (max-width: 1280px) {
            justify-content: center;
          }

          @media (max-width: 991px) {
            flex-direction: column-reverse;
          }

          .widget-area {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            @media (max-width: 991px) {
              flex-direction: column;
            }

            select {
              color: #474747;
              font-size: 14px;
              padding: 8px 15px;
              border: 1px solid #70707012;
              background-color: transparent;
              -webkit-appearance: none;
            }
          }
        }
      }
    }

    form.woocommerce-ordering {
      position: relative;

      &:after {
        content: url("/app/themes/mcpremium/assets/src/img/icons/icon-arrow-down.svg");
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        z-index: -1;
      }

      @media (max-width: 1280px) {
        width: 180px;
      }

      select {
        width: 210px;
        color: #474747;
        font-size: 14px;
        padding: 8px 15px;
        border: 1px solid #70707012;
        background-color: transparent;
        -webkit-appearance: none;

        @media (max-width: 1280px) {
          width: 180px;
        }

        @media (max-width: 1199px) {
          width: 150px;
        }

        @media (max-width: 991px) {
          margin-bottom: 15px;
          width: 100%;
        }
      }

      select {
        color: #474747;
        font-size: 14px;
        padding: 8px 15px;
        border: 1px solid #70707012;
        background-color: #ffffff;
        -webkit-appearance: none;

        @media (max-width: 991px) {
          text-align: center;
        }
      }
    }
  }
}

form.woocommerce-ordering {
  @media (max-width: 991px) {
    width: 100%;
  }

  select {
    width: 210px;
    color: #474747;
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid #70707012;
    background-color: #ffffff;
    -webkit-appearance: none;

    @media (max-width: 1280px) {
      width: 180px;
    }

    @media (max-width: 1199px) {
      width: 150px;
    }

    @media (max-width: 991px) {
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }
  }

  .selection {
    .select2-selection {
      .select2-selection__rendered {
        color: #474747;
        font-size: 14px;
        padding: 8px 15px;
        border: 1px solid #70707012 !important;
        border-radius: 0;
        line-height: normal;
      }

      &.select2-selection--single {
        border-color: transparent;
        height: unset;

        @media (max-width: 991px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

h4.filter_rname {
  font-size: 14px;
  color: #474747;
  margin-right: 65px;
  margin-bottom: 0;
  text-transform: uppercase;

  @media (max-width: 1280px) {
    width: 30px;
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
    width: auto;
    margin-right: 0;
  }
}

section.products-wrap-content {
  &.category {
    padding: 0 0 120px;

    .woocommerce-result-count {
      display: none;
    }
  }

  ul.products {
    padding: 0;
    margin: 0;

    li.product {
      list-style: none;
      position: relative;

      .woocommerce-LoopProduct-link {
        .product__info {
          margin-top: 20px;

          h3.category-name {
            text-align: center;
            font-size: 12px;
            color: #707070;
            font-weight: 400;
            margin-bottom: 10px;
          }

          .product_name_area {
            h2.product__name {
              text-align: center;
              color: #2d2d2d;
              font-size: 1.25rem;
              line-height: 33px;
              text-transform: uppercase;
              margin-bottom: 10px;
              font-weight: 400;
            }

            .description_item_product {
              display: flex;
              flex-direction: column-reverse;
              align-items: center;

              p {
                font-size: 14px;
                color: #474747;
                text-align: center;
                margin-bottom: 0;
              }

              .icon_cart {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                svg {
                  margin-right: 5px;
                }

                p.product__price {
                  font-size: 14px;
                  font-weight: 600;
                  color: #000000;
                }
              }
            }
          }
        }
      }

      .yith-wcwl-add-to-wishlist {
        position: absolute;
        top: 10px;
        right: 10px;
        left: unset;
        margin: 0;
        padding: 0;

        .yith-wcwl-add-button {
          a.add_to_wishlist {
            i.yith-wcwl-icon {
              margin: 0;
              padding: 0;
              color: #474747;
              font-size: 20px;
            }
          }
        }

        .yith-wcwl-wishlistexistsbrowse {
          a {
            i {
              color: #474747;
              font-size: 20px;
            }
          }

          .feedback {
            font-size: 12px;
            color: #daa070;

            .yith-wcwl-icon {
              margin-right: 0 !important;
              color: #daa070;
              font-size: 20px;
              margin-left: 5px;
            }
          }
        }

        .yith-wcwl-wishlistaddedbrowse {
          a {
            i {
              color: #474747;
              font-size: 20px;
            }
          }
        }
      }
    }

    &.columns-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 120px 85px;

      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px 15px;
      }

      @media (max-width: 567px) {
        grid-template-columns: 1fr;
        grid-gap: 30px 15px;
      }
    }
  }

  .woocommerce-pagination {
    margin-top: 60px;

    .wishlist-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px 30px;
      padding-bottom: 80px;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 15px;
      }
    }
  }

  .wishlist-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 30px;

    @media (max-width: 1450px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px 15px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    .yith-wcwl-item {
      .product-thumbnail {
        position: relative;

        .remove_from_wishlist.button {
          position: absolute;
          bottom: 15px;
          right: 15px;

          img {
            background-color: transparent !important;
          }
        }
      }

      .yith-wcwl-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-thumbnail {
          position: relative;
          margin-bottom: 15px;

          img {
            height: 580px;
          }
        }

        .product-name {
          a {
            text-align: center;
            color: #2d2d2d;
            font-size: 1.25rem;
            line-height: 33px;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .product-price-and-remove {
    display: flex;
    align-items: center;

    .product-price {
      .woocommerce-Price-amount {
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        margin-right: 5px;
      }
    }

    a {
      font-size: 14px;
      font-weight: 600;
      color: #707070;
    }
  }
}

.single_variation_wrap {
  margin-top: 30px;
}
.stock {
  display: none;
}
.posted_in {
  a {
    display: none;
  }
  a:first-child {
    display: Block;
    color: #707070;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
}

.woocommerce .quantity .qty {
  background: none;
}

.no-product-in-whislist {
  font-size: 14px;
}

// whislist page

.wishlist-title-container {
  margin-top: 160px;

  @media (max-width: 991px) {
    margin-top: 62px;
  }

  .wishlist-title {
    display: block;
    padding-top: 60px;

    h2 {
      font-size: 1.25rem;
      text-transform: uppercase;
      color: #2d2d2d;
      font-weight: 400;
      margin-bottom: 0;
      text-align: center;
      width: 100%;
      text-align: center;
      width: 100%;
      display: block;
      transition: 0.2s linear;

      &::after {
        content: "";
        display: block;
        margin: 20px auto;
        width: 62px;
        height: 1px;
        background-color: #ebd677;
      }

      @media (max-width: 991px) {
        margin-top: 30px;
        font-size: 20px;
      }
    }
  }
}

table.wishlist_table {
  width: 100%;

  .wishlist-item {
    display: flex;
    flex-direction: column;

    .product-thumbnail {
      padding: 0;

      a {
        max-width: 100%;
      }
    }
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 60px 30px 50px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  min-height: 570px;

  @media (max-width: 991px) {
    min-height: auto;
  }

  @media (max-width: 576px) {
    padding: 30px 10px;
  }
}

/* The Close Button */
.close {
  color: #707070;
  font-size: 28px;
  position: absolute;
  top: -5px;
  right: 7px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  .tabs-area-size {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 25px;
    }

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }

    a.tab-button {
      font-size: 16px;
      text-transform: uppercase;
      color: #2d2d2d;

      @media (max-width: 991px) {
        font-size: 12px;
      }
    }
  }

  .tab-container {
    max-width: 650px;
    margin: 0 auto;

    tr,
    th,
    td {
      font-size: 12px;
      font-weight: 400;
    }

    &.how-size-area {
      padding-bottom: 30px;
      max-width: 100%;
    }

    a {
      display: inline-block;
      color: #707070;
      transition: 0.2s linear;

      &:hover {
        color: #474747;
      }
    }
  }

  .contact-modal-area {
    border-top: 1px solid #707070;

    h3 {
      font-size: 12px;
      text-align: center;
      color: #707070;
      text-transform: uppercase;
      margin-bottom: 25px;
      margin-top: 15px;
    }
  }
}

//koszyk
.basic {
  margin-top: 200px;

  @media (max-width: 991px) {
    margin-top: 62px;
  }

  h1.page-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #2d2d2d;
    font-weight: 400;
    margin-bottom: 0;
    width: 100%;

    &::after {
      content: "";
      display: block;
      margin: 15px 0;
      width: 62px;
      height: 1px;
      background-color: #ebd677;
    }

    @media (max-width: 991px) {
      margin-top: 30px;
      font-size: 20px;
    }
  }

  .wprt-container {
    .coupon {
      display: none;
    }

    .woocommerce-cart-form {
      float: left;
      width: 50%;
      padding-right: 15px;

      &:after {
        content: "";
        clear: both;
      }

      .table-responsive {
        .table:not(.not-head-style) {
          > *:first-child > tr:first-child th {
            background-color: #ffffff !important;
            color: #474747 !important;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        table {
          .cart_item {
            .product-thumbnail {
              img {
                width: 55px;
                height: 62px;
              }
            }

            .product-name {
              a {
                font-size: 16px;
                color: #474747;
              }
            }

            .product-quantity {
              font-size: 16px;

              .minus,
              .plus {
                display: none;
              }

              .qty {
                border: none !important;

                &:focus-visible {
                  outline: 0 !important;
                }
              }
            }

            .product-price {
              .woocommerce-Price-amount {
                bdi {
                  font-size: 16px;
                }
              }
            }

            .product-subtotal {
              font-size: 16px;
            }

            .product-remove {
              a {
                img {
                  width: 15px;
                  max-height: 100%;
                  object-fit: contain;
                  max-width: unset;
                }
              }
            }
          }

          p {
            display: none;
          }

          .actions {
            .btn-update-cart {
              float: right;
              background: transparent;

              &:hover {
                background-color: #474747;
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    .wrapper-billing-and-order {
      .col-left,
      .col-right {
        float: left;
        width: 25%;
        padding-right: 15px;
        font-size: 16px;

        &:after {
          content: "";
          clear: both;
        }
      }

      .col-right {
        background-color: #f2f2f2;
        padding: 30px 10px;
      }
    }

    .woocommerce-form-login-toggle {
      .woocommerce-info {
        font-size: 16px;

        a {
          color: #ebd677;
          padding-left: 3px;
        }
      }
    }
  }
}
.woocommerce-message {
  padding-left: 0px;
  list-style: none;
  a {
    margin-right: 10px;
    color: #e4cd6f;
    display: flex;
    font-size: 14px;
  }
}

//produkt
.single-product-class {
  .up-sells {
    display: none;
  }
  .col-lg-6:nth-child(1) {
    margin-bottom: 100px;
  }
  .col-lg-6:nth-child(2) {
    position: sticky;
    top: 0;
  }
  .clothes-wash {
    img {
      width: 25px;
      margin-right: 10px;
      height: 25px;
    }
  }
  .woocommerce-product-details__short-description {
    display: none;
  }
  .woocommerce-product-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -0.625rem;
    .woocommerce-product-gallery__image {
      height: 100%;
      width: 50%;
      padding: 0 0.625rem 0.625rem;
      box-sizing: border-box;
      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
      &:first-child {
        width: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  .product_title {
    text-transform: uppercase;
    font-size: 25px;
    color: #2d2d2d;
  }
  .price-container {
    margin-bottom: 20px;
    bdi {
      font-size: 16px;
      font-weight: 600;
      color: #474747;
    }
  }
  .single_add_to_cart_button {
    background-color: #474747;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    padding: 6px 32px;
    border: none;
    transition: 0.3s;
    border: 1px solid #474747;
    &:hover {
      color: #474747;
      background-color: white;
    }
  }
  .reset_variations {
    display: none;
  }
  .product_meta {
    .sku_wrapper {
      display: none;
    }
  }
  .variations {
    width: 100%;
    select {
      width: 100%;
      height: 45px;
      font-size: 12px;
      margin-bottom: 10px;
      padding-left: 10px;
      option {
        background-color: white;
      }
    }
  }
  .additional-products {
    h3 {
      text-align: center;
      //margin-top: 180px;
      margin-bottom: 100px;
      color: #2d2d2d;
      font-size: 25px;
    }
    .additional-block {
      display: flex;
      justify-content: space-between;
      .block-left,
      .block-right {
        width: 49%;
        text-align: center;
        .block-product {
          position: relative;
        }
        .yith-wcwl-add-button span {
          display: none;
        }
        .yith-wcwl-add-button i {
          margin: 0;
          padding: 0;
          color: #474747;
          font-size: 20px;
        }
        .yith-wcwl-add-to-wishlist {
          position: absolute;
          top: 10px;
          right: 20px;
          left: unset;
          margin: 0;
          padding: 0;
        }
        .product__price {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          margin: 10px 0px;
          color: black;
          svg {
            margin-right: 10px;
          }
        }
        .product__cat {
          p {
            font-size: 12px !important;
            color: #707070;
            margin: 10px 0px;
          }
        }
        .product__excerpt {
          font-size: 12px !important;
          color: #2d2d2d;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          &* {
            font-size: 12px !important;
            color: #2d2d2d;
          }
          p {
            font-size: 12px !important;
            color: #2d2d2d;
          }
        }
      }
      .block-left {
        img {
          width: 100%;
        }
      }
      .block-right {
        display: flex;
        .block-product {
          width: 50%;
          height: 350px;
        }
        .product__name {
          font-size: 21px;
          text-transform: uppercase;
          color: #2d2d2d;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }
  .related {
    .products {
      justify-content: space-between;
      margin-bottom: 240px;
      li {
        width: 24%;
        position: relative;
      }
    }
    .product {
      .tp-image-wrapper {
        //height: 500px;
        img {
          height: 500px;
        }
      }
    }
    .add-to-wishlist-before_image .yith-wcwl-add-to-wishlist i {
      margin: 0;
      padding: 0;
      color: #474747;
      font-size: 20px;
    }
    .yith-wcwl-add-to-wishlist {
      position: absolute;
      top: 10px;
      right: 10px;
      left: unset;
      margin: 0;
      padding: 0;
    }
    .recommended {
      text-align: center;
      margin-top: 180px;
      margin-bottom: 100px;
      color: #2d2d2d;
      font-size: 25px;
    }
    ul {
      display: flex;
      list-style: none;
      width: 100%;
      padding-left: 0px;
    }
    .category-name {
      color: #707070;
      font-size: 12px;
      text-align: center;
      margin: 10px 0px 5px 0px;
    }
    .description_item_product {
      display: flex;
      flex-flow: column-reverse;
    }
    .product_name_area {
      text-align: center;
      .product__name {
        font-size: 21px;
        text-transform: uppercase;
        color: #2d2d2d;
        margin-bottom: 10px;
      }
      .description_item_product p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 12px;
        color: #707070;
      }
      .description_item_product {
        .icon_cart {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .woocommerce-variation-add-to-cart {
    display: flex;
    justify-content: space-between;
  }
  .quantity {
    display: flex;
    flex-flow: row;
    align-items: center;
    .minus {
      background-color: transparent;
      border: 1px solid #707070;
      border-right: none;
      padding-left: 20px;
      padding-right: 20px;
      height: 45px;
    }
    #smntcswcb {
      text-align: center;
      border: 1px solid #707070;
      border-left: none;
      border-right: none;
      margin-top: 0px;
      height: 45px;
      width: 40px;
    }
    .plus {
      background-color: transparent;
      border: 1px solid #707070;
      border-left: none;
      padding-left: 20px;
      padding-right: 20px;
      height: 45px;
    }
  }
  .add-inform-area {
    margin-top: 120px;
    details {
      margin-top: 10px;
      margin-bottom: 10px;
      p {
        font-size: 14px;
      }
    }
    summary {
      &:after {
        display: block;
        content: "";
        border-bottom: 1px solid black;
        height: 1px;
        width: 95%;
        position: absolute;
        margin-top: 20px;
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0px;
      &::marker {
        display: none;
      }
      h6 {
        font-size: 14px;
        text-transform: uppercase;
      }
      img {
        width: 10px;
        height: 8px;
        margin-top: -8px;
        margin-right: 5px;
      }
    }
  }
  .yith-wcwl-add-to-wishlist {
    span {
      display: none;
    }
    i {
      color: #707070;
      font-size: 30px;
    }
  }
  .single_variation_wrap {
    margin-top: 30px;
  }
  .stock {
    display: none;
  }
  .posted_in {
    a {
      display: none;
    }
    a:first-child {
      display: Block;
      color: #707070;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 6px;
    }
  }
}

.woocommerce .quantity .qty {
  background: none;
}

.woocommerce .quantity .qty inpute[type="”number”"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.woocommerce-notices-wrapper {
  margin-top: 10px;
  .woocommerce-error {
    padding-left: 0px;
    list-style: none;
    li {
      font-size: 14px;
      a {
        margin-right: 10px;
        color: #e4cd6f;
      }
    }
  }
  .woocommerce-message {
    font-size: 14px;
    padding-left: 0px;
    list-style: none;
    a {
      margin-right: 10px;
      color: #e4cd6f;
      display: flex;
      font-size: 14px;
    }
  }
}

nav.woocommerce-breadcrumb {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .single-product-class
    .woocommerce-product-gallery__wrapper
    .woocommerce-product-gallery__image {
    width: 25%;
  }
  .single-product-class
    .woocommerce-product-gallery__wrapper
    .woocommerce-product-gallery__image
    img {
    height: 200px;
  }
  .single-product-class .col-lg-6:nth-child(1) {
    margin-bottom: 50px;
  }
  .single-product-class .col-lg-6:nth-child(2) {
    position: unset;
  }
  .additional-products {
    .additional-block {
      display: flex;
      flex-flow: column;
    }
  }
  .single-product-class .additional-products h3 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .single-product-class .additional-products .additional-block .block-left,
  .single-product-class .additional-products .additional-block .block-right {
    width: 80%;
    margin: Auto;
    justify-content: space-between;
  }
  .single-product-class
    .additional-products
    .additional-block
    .block-right
    .block-product {
    width: 45%;
    height: unset;
    margin-top: 50px;
  }
  #related-products {
    .products {
      flex-flow: row wrap;
      justify-content: center;
      gap: 30px;
      li {
        width: 320px;
      }
    }
  }
  .single-product-class .related .recommended {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 600px) {
  .single-product-class .woocommerce-variation-add-to-cart {
    justify-content: space-between;
    flex-flow: row wrap;
    .quantity {
      width: 50%;
    }
    .yith-wcwl-add-to-wishlist {
      width: 50%;
      .yith-wcwl-add-button {
        text-align: right;
      }
    }
    .single_add_to_cart_button {
      margin-top: 24px;
    }
  }
  .woosticker.custom_sticker_text.woosticker_ribbon {
    margin-left: 15px !important;
  }
  .single-product-class
    .woocommerce-product-gallery__wrapper
    .woocommerce-product-gallery__image {
    width: 50%;
  }
  .single-product-class
    .woocommerce-product-gallery__wrapper
    .woocommerce-product-gallery__image
    img {
    height: 150px;
  }
  .single-product-class .additional-products .additional-block .block-right {
    flex-flow: column;
  }
  .single-product-class
    .additional-products
    .additional-block
    .block-right
    .block-product {
    width: 100%;
    height: unset;
    margin: auto;
    margin-top: 50px;
  }
}

.woosticker.custom_sticker_text.woosticker_ribbon {
  color: white !important;
  border-radius: 25px;
  background-color: #474747;
  &::before {
    display: none;
  }
}

.menu-acf {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 35px;
  .menu-acf-single-kat {
    .menu-display {
      display: none;
      width: 600px;
      padding: 15px;
      margin-left: -40px;
      padding-left: 40px;
      background-color: white;
      position: absolute;
    }
    .menu-display-columns {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .column-1,
    .column-2,
    .column-3 {
      width: 33%;
    }
    .column-1,
    .column-2 {
      p {
        margin: 6px 0px;
        font-size: 12px;
        color: Black;
      }
    }
    .column-2,
    .column-3 {
      img {
        width: 100%;
      }
    }
    &:hover {
      .menu-display {
        display: flex;
      }
    }
  }
  .menu-main-a {
    color: #2d2d2d;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    transition: 0.2s linear;
  }
}

.menu-acf-mobile {
  display: none;

  details {
    text-align: left;
  }
}

@media (max-width: 992px) {
  .menu-acf-desktop {
    display: none;
  }
  .menu-acf-mobile {
    display: none;
    background-color: white !important;
    flex-flow: column;
    //min-height: 100vh;
    overflow-y: scroll !important;
    height: 100vh !important;
    -overflow-scrolling: touch !important;
    -webkit-overflow-scrolling: touch !important;
    position: fixed;
    details[open] summary {
      img {
        transition: 0.3s;
        transform: unset;
      }
    }
    &:before {
      content: "";
      display: block;
      height: 1px;
      border-top: 1px solid #c0c0c069;
      width: 100%;
      margin: 10px auto;
    }
    .kat-title {
      //display: flex;
      display: inline-block;
      width: 100%;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;
      p {
        color: black;
        font-size: 18px;
        text-transform: uppercase;
        margin: 12px 0px;
      }
      img {
        transition: 0.3s;
        width: 12px;
        height: 12px;
        object-fit: contain;
        float: right;
        margin-top: -35px;
        transform: rotate(-90deg);
      }
    }
    .column {
      img {
        display: none;
      }
      p {
        text-align: left;
        color: black;
        font-size: 14px;
        margin: 5px 0px;
        margin-left: 10px;
      }
    }
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 650px) {
  .animated-icon1 span,
  .animated-icon2 span,
  .animated-icon3 span {
    width: 80%;
    margin-top: 2px;
    margin-right: -5px;
    height: 2px;
  }
  .animated-icon1 span:nth-child(2) {
    top: 7px;
    //margin-top: -4px;
  }
  .animated-icon1 span:nth-child(3) {
    top: 14px;
    //margin-top: -8px;
  }
  .animated-icon1.open span:nth-child(1) {
    top: 8px;
  }
  .animated-icon1.open span:nth-child(3) {
    top: 8px;
  }
}
