@import "./custom-functions";
@import "./custom-variables";
@import "./custom-mixins";
@import "./burger-menu";
@import "./custom-styles";
@import "./custom-woocommerce";
// @import './bootstrap';


.wrap-btn-right {
  display: flex;
  justify-content: flex-end;
}

.wrap-btn-center {
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid #474747;
  color: #474747;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  padding: 5px 22px;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    transition: .2s linear;
    background-color: #474747;
    color: #FFFFFF;
  }

  @media(max-width: 567px) {
    font-size: 12px;
  }

  &.btn-loadMore {
    border: 1px solid #474747 !important;
    color: #474747 !important;
    border-radius: 22px !important;
    padding: 10px 22px !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    min-width: 215px;
    margin-top: 60px;
  }

  &.btn-contact-modal {
    font-size: 12px;
    max-width: 215px;
    margin: 0 auto;
    background-color: #474747;
    color: #FFFFFF;
    height: 35px;
    padding: 5px 20px;

    @media(max-width:576px) {
      max-width: 100%;
    }

    &:hover {
      background-color: #FFFFFF;
      color: #474747;
    }
  }
}

select {
  outline: none;
}

summary:focus {
  outline: 0;
}

.navbar {
  background-color: #fff;
  min-height: 62px;


  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media(max-width: 991px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .navbar-brand {
      width: 174px;
      height: 31px;
      margin: 40px auto;
      padding: 0;

      @media(max-width: 991px) {
        margin: 0;
      }

      @media(max-width: 576px) {
        width: 135px;
      }


      img {
        max-width: 174px;
        height: auto;
      }
    }

    button {
      &.navbar-toggler {
        @media(max-width:991px) {
          position: absolute;
          right: 5px;
          top: 10px;
          padding: 10px;
        }
      }
    }

    .two-menu-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      @media(max-width:991px) {
        justify-content: flex-end;
      }

      #navbarNavDropdown {

        ul#menu-home-main-menu {
          &.navbar-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;


            @media(max-width:991px) {
              height: calc(100vh - 60px);
              padding: 5vh 0;
              flex-wrap: nowrap;
              justify-content: center;
            }

          }

          li.menu-item {
            margin-right: 60px;

            @media(max-width:1260px) {
              margin-right: 30px;
            }

            @media(max-width:991px) {
              margin-right: 0;
            }

            a.nav-link {
              color: #2D2D2D;
              font-size: 14px;
              text-transform: uppercase;
              padding: 0;
              transition: .2s linear;

              @media(max-width:1440px) {
                font-size: 13px;
              }

              @media(max-width:991px) {
                padding: 8px 15px;
                color: #FFFFFF;
                font-size: 1rem;
              }
            }

            &:hover {
              a.nav-link {
                color: #000000;
              }
            }

          }
        }

        &.show {
          display: flex;
        }

        @media(max-width:991px) {
          position: absolute;
          top: 60px;
          left: 0;
          // height: calc(100vh - 60px);
          background-color: #000000;
          padding: 0 15px;
          text-align: center;
          width: 100%;


          &.navbar-nav {
            display: flex;
            justify-content: center;
            width: 100%;
          }
        }
      }

      #navbarNavDropdown-icons {

        ul.navbar-nav {
          display: flex;
          align-items: center;

          @media(max-width:991px) {
            flex-direction: row;
            margin-right: 60px;
          }

          @media(max-width:567px) {
            margin-right: 45px;
          }

          li.menu-item {
            margin-left: 30px;
            margin-right: 0;

            @media(max-width:1440px) {
              margin-left: 15px;

              svg {
                max-width: 30px;
                height: auto;
              }
            }


            @media(max-width:567px) {
              margin-left: 15px;
            }

            a.nav-link {
              padding: 0;
            }

            &:first-child {
              margin-left: 0;
              margin-top: 2px;
            }
          }


        }
      }



    }
  }


  // IF SCROLL
  &.scroll {
    .header-wrapper {
      flex-direction: row;
      justify-content: space-between;
      transition: .6s linear;

      .navbar-brand {
        @media(min-width:992px) {
          margin: 0;
          padding: 0;
          font-size: unset;
        }
      }

      .two-menu-wrap {
        #navbarNavDropdown {
          ul#menu-home-main-menu {
            justify-content: space-evenly;

            @media(max-width:991px) {
              justify-content: center;
            }

            &.navbar-nav {
              margin: 0 60px;

              @media(max-width:1440px) {
                margin: 0 15px;
              }

              @media(max-width:991px) {
                margin: 0 auto;
              }


              li.menu-item {
                margin-right: 30px;



                @media(max-width:1440px) {
                  margin-right: 10px;
                }

                @media(max-width:991px) {
                  margin-right: 0;
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

}


// Homepage
#homepage {
  .hero {
    margin-top: 150px;
    padding: 0 0 5rem 0;


    @media(max-width:991px) {
      margin-top: 63px;
    }

    img {
      margin-bottom: 15px;
      height: calc(100vh - 240px);
      object-position: top center;

      &.visible-desctop {
        @media(max-width:1024px) {
          display: none;
        }
      }

      &.visible-tablet {
        display: none;

        @media (min-width: 768px) and (max-width:1024px) {
          display: block;
        }
      }

      &.visible-phone {
        display: none;

        @media(max-width:767px) {
          display: block;
        }
      }

    }

    .wrap-info-hero {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .titleAndCategory {
        text-transform: uppercase;

        p {
          font-size: 12px;
          color: #707070;
        }

        h3 {
          font-size: 25px;
          margin-bottom: 0;
          font-weight: 600;

          @media(max-width:567px) {
            font-size: 20px;
          }
        }
      }
    }

  }


  .look-home {
    padding: 0 0 5rem 0;

    .look-home-wrapperr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-bottom: 30px;


      @media(max-width:567px) {
        grid-template-columns: 1fr;
      }

      .yith-wcwl-add-to-wishlist,
      .product__options,
      .product__info {
        display: none;
      }
    }

  }


  .custom-section-imgages-products {
    padding: 0 0 5rem 0;
  }

  .special-collection1 {
    padding: 0 0 5rem 0;

    .wrapper-special-collection1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 30px 10px;

      @media(max-width:991px) {
        grid-template-columns: 1fr;
      }

      .left-column {
        .image-collection {
          img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
          }

        }

        .titleAndCategory {
          text-transform: uppercase;

          p {
            font-size: 12px;
            color: #707070;
          }

          h3 {
            font-size: 25px;
            margin-bottom: 0;
            font-weight: 600;

            @media(max-width:567px) {
              font-size: 20px;
            }
          }
        }
      }

      .right-column {
        .image-logo-collection {
          width: 285px;
          height: 250px;
          margin: 60px auto 30px;
          display: block;

          @media(max-width:991px) {
            margin-top: 0;
          }

          img {
            max-width: 100%;
            height: auto;

          }
        }
      }
    }
  }


  .movie-homepage {
    padding: 0 0 5rem 0;

    .video-container {
      overflow: hidden;
      position: relative;
      width: 100%;

      &::after {
        padding-top: 56.25%;
        display: block;
        content: '';
      }

      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }







  .accessories {
    padding: 0 0 5rem 0;

    .accessories-home-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin-bottom: 10px;

      @media(max-width:767px) {
        grid-template-columns: 1fr;
      }
    }

    .wrap-info-hero {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media(max-width:567px) {
        flex-direction: column;
        align-items: center;
      }

      .titleAndCategory {
        text-transform: uppercase;

        p {
          font-size: 12px;
          color: #707070;
        }

        h3 {
          font-size: 25px;
          margin-bottom: 0;
          font-weight: 600;

          @media(max-width:567px) {
            font-size: 20px;
          }
        }

        @media(max-width:567px) {
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }

}


// newsleter and icon-info start
.newsletter {
  padding: 0 0 5rem 0;

  .title {
    h2 {
      font-size: 2rem;
      margin-bottom: 0;
      text-align: center;
      font-weight: 600;
      color: #2D2D2D;
      position: relative;
      margin-bottom: 40px;
      text-transform: uppercase;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        left: calc(50% - 31px);
        width: 62px;
        height: 2px;
        background-color: #EBD677;
        text-align: center;

      }
    }
  }

  .form-area-newsletter {
    form.form-area-newsletter-input {
      display: flex;
      flex-direction: column;
      align-items: center;


      .input-group.flex-form-newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;

        input.form-control {
          border: 1px solid #707070;
          border-radius: 25px;
          padding: 10px 20px;
          font-size: 14px;
          text-align: center;
          width: 360px;
          margin-bottom: 20px;

          @media(max-width:567px) {
            width: auto;
          }
        }

        span.rodo {
          font-size: 12px;
          padding-left: 10px;
          max-width: 225px;
        }

        .tnp-field-submit {
          display: flex;
          justify-content: center;
          margin-top: 40px;


          .btn-send-newlsetter {
            background-color: #474747;
            border-radius: 22px;
            padding: 10px 20px;
            width: 215px;
            font-size: 14px;
            color: #FFFFFF;
            border: 1px solid #474747;
            transition: .2s linear;

            @media(max-width:567px) {
              font-size: 12px;
            }

            &:hover {
              background-color: #FFFFFF;
              color: #474747;
            }
          }
        }
      }
    }
  }
}


.info-icons {
  padding: 0 0 3rem;

  .info-icons-home-wrapperr {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 945px;
    margin: 0 auto;

    .block-item {
      display: flex;
      flex-basis: calc(20% - 40px);
      flex-direction: column;
      align-items: center;

      @media(max-width:767px) {
        flex-basis: calc(33% - 30px);
        margin-bottom: 60px;
      }

      @media(max-width:567px) {
        flex-basis: calc(50% - 30px);
      }


      .infoicon_img {
        width: 90px;
        height: 90px;
        display: block;
        display: flex;
        height: 100%;

        img {
          max-height: 35px;
          width: auto;
          margin: 0 auto 20px;
          object-fit: contain;
        }
      }

      .title {
        h4 {
          font-size: 14px;
          text-align: center;
          font-weight: normal;
        }
      }
    }
  }

  .text-shop-info {
    display: flex;
    justify-content: center;
    padding: 3rem 0 0;

    details {
      text-align: center;

      summary {
        font-size: 14px;
        position: relative;
        display: inline;
        padding-right: 15px;
        margin-bottom: 15px;


        &:before {
          content: '\02EC';
          display: block;
          font-size: 35px;
          position: absolute;
          right: 0;
          top: -33px;
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 15px;
      }

      &[open] {
        summary {
          &:before {
            transform: rotate(180deg);
            content: '\02EC';
            right: 0;
            top: 3px;
          }
        }
      }
    }

  }
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

// newsletter and icon-info end


.footer {
  background-color: $dark-full;
  padding: 30px 0;
  clear: both;


  .footer-tresc-wrap {
    .wrap-grid-footer {
      display: flex;
      justify-content: space-between;

      @media(max-width:650px) {
        flex-direction: column;
      }


      .footer-logo-wrap {
        width: 125px;
        height: 170px;
        margin-right: 260px;

        @media(max-width:767px) {
          width: 80px;
          height: 100px;
        }



        @media(max-width:1440px) {
          margin-right: 100px;
        }

        @media(max-width:1024px) {
          margin-right: 30px;
        }

        @media(max-width:650px) {
          margin: 0 auto 30px;
          display: block;
        }

        img {
          max-height: 100%;
          width: auto;
        }
      }

      .wrap-columns-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px 110px;

        @media(max-width:1440px) {
          grid-gap: 30px 80px;
        }

        @media(max-width:1024px) {
          grid-gap: 80px;
        }

        @media(max-width:991px) {
          grid-gap: 60px;
        }

        @media(max-width:890px) {
          grid-gap: 30px;
        }

        @media(max-width:650px) {
          grid-gap: 15px;
        }

        @media(max-width:567px) {
          grid-template-columns: 1fr 1fr;
          text-align: center;
          grid-gap: 30px 15px;
        }

        @media(max-width:450px) {
          grid-template-columns: 1fr;
        }

        .column-footer {

          ul {
            padding: 0;
            margin: 0;

            li {
              list-style: none;
              margin-bottom: 7px;
            }
          }

          h4 {
            font-size: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 600;
            margin-bottom: 7px;

            @media(max-width:767px) {
              font-size: 12px;
            }
          }

          p {
            color: #FFFFFF;
            font-size: 14px;
            margin-bottom: 7px;

            @media(max-width:767px) {
              font-size: 12px;
            }
          }

          a {
            color: #FFFFFF;
            font-size: 14px;
            transition: .1s linear;

            &:hover {
              opacity: .8;
            }

            @media(max-width:767px) {
              font-size: 12px;
            }
          }

          &.in-column-footer {
            h4 {
              padding: 30px 0;
            }

            ul {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              max-width: 100px;

              @media(max-width: 567px) {
                margin: 0 auto;
              }
            }
          }


        }
      }
    }
  }
}